# Godot 4+ specific ignores
*.godot/
*android/

# Cache
*.tmp
*.log

# testy i classlib
*bin/
*obj/

# katalogi testowe
*Testing/

# Śmieci VisualStudio
.vs/
*.suo
*.user
*.userprefs
*.csproj.user
_ReSharper*/
*.DotSettings.user

# Śmieci VSCode
.vscode/
.history/
*.code-workspace

# inne Śmieci
Thumbs.db
*.swp
*.bak
*.tmp
*.log
